.card__image {
    width: 100%;
    height: 413px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.card__content{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 0; 
}

.card__title {
    font-family: "poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0%;
    margin: 12px 0 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 353px;
    height: 18px;
}

.card__like-btn {
    background-image: url(../images/Union.svg);
    width: 23px;
    height: 20px;
    opacity: 0.4;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 12px 0 4px;
}

@media screen and (max-width: 627px) {
    .card__image {
        height: 288px;
    }

    .card__title {
        font-family: "poppins", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
        letter-spacing: 0%;
        margin: 12px 0 2px;
        max-width: 272px;
    }

    .card__like-btn {
        width: 20px;
        height: 18px;
        opacity: 0.4;
        border: none;
        background-color: transparent;
        margin: 12px 0 0;
    }
}