.footer {
    display: flex;
    justify-content: center;
}

.footer__copyright{
    margin: 60px auto;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    opacity: .7;
}